/* About us Section Starts  */
.aboutus {
  width: 100%;
  background-color: #f3e9dc;
  background-image: url(/aboutusbg.png);
  background-size: cover;
  background-position: center;
  padding: 80px 0;
}

@media (min-width:1024px) {
  .aboutus {
    height: 100vh;
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
}

.container {
  max-width: 80vw;
  margin: 0 auto;
  text-align: center;
}

.aboutus-heading h1 {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 1rem;
  line-height: 1rem;
  margin-bottom: 20px;
  color: #3E1F1B;
  text-transform: uppercase;
  position: relative;
  display: inline-block; /* makes the ::after relative to text */
}



.aboutus-heading h1::after {
  content: '';
  display: block;
  height: 2px;
  /* max-width: 20em; */
  background-color: #D57E56;
  margin: 0.5em auto 1em auto ; /* space above + center */
}


.aboutus-main p {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;
    margin: 1em auto;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 2;
    max-width: 800px;
    color: #000;
}

/* About Us section ends  */
