/* About us Section Starts  */
.aboutus {
  width: 100%;
  background-color: #f3e9dc;
  background-image: url(/aboutusbg.png);
  background-size: cover;
  background-position: center;
  padding: 80px 0;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
  text-align: center;
}

.aboutus-heading h1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 0.2em;
  line-height: 2em;
  margin-bottom: 20px;
  transform: scaleY(1.2);
  color: #3E1F1B;
  text-transform: uppercase;
  position: relative;
  display: inline-block; /* makes the ::after relative to text */
}

.aboutus-heading h1::after {
  content: '';
  display: block;
  height: 2px;
  max-width: 20em; /* change this to control line length */
  background-color: #D57E56;
  margin: 1em auto ; /* space above + center */
}


.aboutus-main p {
    font-family: "Open Sans", sans-serif;
    margin: 1em auto;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2;
    max-width: 800px;
    color: #000;
}

/* About Us section ends  */
