/* individual case study starts */

.csarks {
  width: 100%;
  height: 100vh;
  background-color: #D57E56;
  background-image: url(/Filter1.png);
  background-size: cover;
  padding: 40px 0;
}

.case-study-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.leftcol-csarks {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  /* outline: 1px solid blue; */
}

.cs-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1em;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  padding: 5em 9em;
  font-size: 1em;
  font-weight: 300;
}


.grid-title {
  font-weight: 600;
  font-size: 1.5em;
}

.grid-content {
  font-size: 0.95rem;
  letter-spacing: 1px;
  color: #fff;
}


.grid-kpis {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.kpi-numbers {
  display: flex;
  gap: 1px;
}
.kpi h1 {
  font-size: 1.6rem;
  font-weight: 600;
}
.kpi span {
  font-size: 20px;
  vertical-align: super;
  color: #fff;
}

.kpi p {
  color: white;
}

.grid-button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.grid-btn {
  padding: 10px 20px;
  background: transparent;
  border: 1px solid #fff;
  color: #000;
  letter-spacing: 0.1em;
  cursor: pointer;
}


.rightcol-csarks {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  /* outline: 1px solid blue; */
}

.rightcol-csarks img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: right center;
}

.mobile-img {
  display: none;
}


/* individual case study ends  */







