/* chalo case study starts */
.cschalo {
  width: 100%;
  height: 100vh;
  background-color: #F3E9DC;
  /* background-image: url(/Filter2.png);
  background-size: cover; */
  background-image: url("data:image/svg+xml;utf8,\
  <svg xmlns='http://www.w3.org/2000/svg' width='200' height='200'>\
  <filter id='crumple'>\
  <feTurbulence type='fractalNoise' baseFrequency='0.6' numOctaves='5' seed='3'/>\
  <feDiffuseLighting surfaceScale='1.5' lighting-color='rgb(200,170,150)'>\
  <feDistantLight azimuth='45' elevation='55'/>\
  </feDiffuseLighting>\
  </filter>\
  <rect width='100%' height='100%' filter='url(%23crumple)' opacity='0.18'/>\
  </svg>");
  background-size: 180px 180px;
  padding: 40px 0;
}


.o-grid-content {
  font-size: 1rem;
  letter-spacing: 1px;
  color: #D57E56;
  font-weight: 500;
}

.o-grid-btn {
  font-size: 0.8rem;
  padding: 10px 25px;
  background: transparent;
  border: 2px solid #D57E56;
  color: #000;
  letter-spacing: 0.1em;
  cursor: pointer;

  /* smooth animation */
  transition: all 0.3s ease;
}

.o-grid-btn:hover {
  background-color: #444;
  border:2px solid #444;
  color: #fff;
  transform: scale(1.05); /* subtle grow effect */
}


@media (max-width: 1024px) {
  .o-grid-content {
    font-size: 0.9rem;
  }

  .o-grid-btn {
  padding: 9px 18px;
  font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .o-grid-content {
    font-size: 1rem;
    text-align: left;
  }
  .cschalo {
    height: auto;
  }

  
  .o-grid-btn {
    padding: 8px 16px;
    font-size: 0.85rem;
  }

}

@media (max-width: 480px) {
  .o-grid-content {
    font-size: 0.8rem;
  }

  .o-grid-btn {
    padding: 7px 14px;
    font-size: 0.8rem;
  }
}










