.image-grid {
    background-color: #F4D8CD;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    background-image: url(/Filter1.png);
    background-size: cover;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns by default */
    gap: 20px;
    max-width: 80vw;
    margin: 0 auto;
    padding: 3rem;
}

@media (max-width: 768px) {
  .img-container {
    grid-template-columns: repeat(1, 1fr); /* 2 columns on smaller screens */
    padding: 0;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.modal-content h1 {
  font-family: "OpenSansCondBold";
  font-size: 3rem;
  color: red;
}

.modal-image {
  width: 50%;
  height: 50%;
  border-radius: 8px;
  object-fit: contain;
}

.close-btn {
  position: absolute;
  top: -16px;
  right: -16px;
  background: white;
  border: none;
  font-size: 28px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 50%;
}
