.stories {
  width: 100%;
  background: #edd6cb;
  background-image: url("data:image/svg+xml;utf8,\
  <svg xmlns='http://www.w3.org/2000/svg' width='200' height='200'>\
  <filter id='crumple'>\
  <feTurbulence type='fractalNoise' baseFrequency='0.6' numOctaves='5' seed='3'/>\
  <feDiffuseLighting surfaceScale='1.5' lighting-color='rgb(200,170,150)'>\
  <feDistantLight azimuth='45' elevation='55'/>\
  </feDiffuseLighting>\
  </filter>\
  <rect width='100%' height='100%' filter='url(%23crumple)' opacity='0.18'/>\
  </svg>");
  background-size: 180px 180px;
  padding: 80px 0;
}


.stories-heading h1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 0.4em;
  line-height: 2em;
  margin-bottom: 20px;
  text-transform: uppercase;
  position: relative;
  display: inline-block; /* makes the ::after relative to text */
}

.stories-heading h1::after {
  content: '';
  display: block;
  height: 2px;
  max-width: 20em; /* change this to control line length */
  background-color: #D57E56;
  margin: 1em auto ; /* space above + center */
}

.stories-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.stories-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.stories-left {
    width: 30%;
}
.stories-right {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5em;
}



.stories-circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    line-height: 1em;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    color: white;
    padding: 10px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    border: 0.7em solid #3E1F1B;
    margin: 0 auto;

}

.stories-circle:hover {
  transform: scale(1.05);
}

.story-1-bg {
  background-image: url('/story1.png')
}
.story-2-bg {
  background-image: url('/story2.png')
}
.story-3-bg {
  background-image: url('/story3.png')
}
.story-4-bg {
  background-image: url('/story4.png')
}


.stories-right p{
    font-family: "OpenSansCondSemiBold", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2em;
    letter-spacing: 5px;
    color: #444;
    text-align: left;
}

.stories-cta {
    color: #D57E56;
    padding: 1em 4em;
    background-color: transparent;
    border: 1px solid #444;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.stories-cta:hover {
  background-color: #444;
  color: #fff;
}

/* Stories Section Ends  */

