@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital@0;1&display=swap');

@font-face {
  font-family: 'OpenSansCondBold';
  src: url('/fonts/OpenSans_Condensed-Bold.woff2') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'OpenSansCondSemiBold';
  src: url('fonts/OpenSans_Condensed-SemiBold.woff2') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'OpenSansCondRegular';
  src: url('/fonts/OpenSans_Condensed-Regular.woff2') format('truetype');
  font-style: italic;
  font-weight: 300;
}


:root {
font-family: "Open Sans", sans-serif;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}

::selection {
  background-color: #3b1e16;
  color: #fff5e6;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
  text-align: center;
}


.app-content {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}


.app-content.visible {
  opacity: 1;
}

.fade-out {
  animation: fadeOut 2s ease forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
